= simple_form_for([hospital, doctor, record]) do |f|
  .col-sm-offset-1.col-sm-6
    = f.input :data, as: :datetime, :minute_step => 30, :start_year => 2016, :start_hour => 9, :end_hour => 16
    = f.button :submit, 'ОК'
